@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome! RDLC in .net core</h1>
    
</div>

<a id="printbtn" class="btn btn-primary" href="../Home/Print" target="_blank">Print</a>